<div class="container">
    <h1>管理画面トップページ</h1>
    
    <h3><%= link_to "抽選券の作成", new_admin_staff_path, class: "btn" %></h3>
    <h3>抽選券の作成</h3>

    <h3><%= link_to "抽選過去一覧",admin_staffs_path %></h3>
</div>