// Place all the styles related to the entrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header{
    margin: 0px;
    background-color: red;
    }

body{
    text-align:center;
    margin: 0px;
    background-color:darkred;
}

footer{
    text-align:center;
    background-color: red;
}
@media screen and (max-width:960px){
}
@media screen and (min-width:480px) {    
}

h1{
    text-align:center
}

h2{
    text-align:center
}
