// Place all the styles related to the entrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header{
    margin: 0px;
    background-color: snow;
    }

body{
    text-align:center;
    margin: 0px;   
}

footer{
    background-color: red;
    text-align:center;
}
@media screen and (max-width:960px){
}
@media screen and (min-width:480px) {    
}

h1{
    background-color: red;
    text-align:center;
    color: snow;
}

h2{
    text-align:center
}

h3{
    color:snow;
    background-color: darkred;
    text-align:center;
}
